.container{
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: #eee;
    top: -100vh;
    right: -20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #b9aeae,-4px -4px 4px #fff;
    transition: all .5s ease;
    z-index: 3;
}
.active{
    top: 120%;
    animation-name: activeItem;
    animation-duration: .5s;
    animation-direction: alternate;
}


.cardTitle{
    width: 100%;
    border-bottom: 1px solid #a5a0a0;
}
.cardTitle span{
    display: inline-block;
    padding:10px;
    font-weight: bold;
}
.ptag{
    line-height: 100px;
    text-align: center;
}
.cardBody{
    padding: 20px;
    display: flex;
    align-items: center;
}
.proNAndP{
    margin-right: 20px;
}
.proName {
    font-size: 11px;
}
.price{
    font-size: 14px;
    margin-right:10px ;
}
.totalAmt{
    font-weight: bold;
}
.proImg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.proImg img{
    width: 100%;
    border-radius: 10px;
}
.deleteBtn{
    opacity: .8;
}
.deleteBtn:hover{
    opacity: 1;
    
}
.checkoutBtn{
    width: 85%;
    padding: 15px 20px;
    background-color: orange;
    margin: 0 20px;
    border-radius: 10px;
}
.checkoutBtn:hover{
    background-color:#e9810a;
    color: #fff;
}


@keyframes rotateItem {
    0%{top: 0;
        transform: rotate(-90deg);
    }
    
   
}
@keyframes activeItem {
    0%{
        top: -100vh;
        transform: rotate(90deg);
    }
    
    
}
@media (max-width:400px) {
    .active{
        top: 120%;
        right:-25px;
    }
    
}