.container{
    flex: 50%;
    max-width: 300px;
    
    margin: 30px;
}

.container a{
    color: orange;
    font-size: 10px;
    font-weight: bold;
}
.container h2{
    margin: 20px 0;
    
}
.priceBox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.priceBox span{
    padding: 1px 5px;
    background-color: rgb(233, 182, 88);
    color:orangered;
    border-radius: 10px;
    margin-left: 20px;
}
.btnCon{
    display: flex;
    align-items: center;
   margin-top: 20px;
}
.btnCon .leftBtn{
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 20px;
}
.btnCon input{
    padding: 0;
    border: none;
    text-align: center;
    width: 20px;
    font-weight:bold;
    font-size: 25px;
    padding: 5px 3px;
    background-color: #eee;
}
.btnCon input::-webkit-outer-spin-button,.btnCon input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
    
    border: none;
    outline: none;
}
.btnCon button{
    padding: 5px 10px;
    color: orangered;
    font-size: 25px;
}
.btnCon button:hover{
    background-color: #ff9900;
    color: #eee;

}
.btnCon .btnOne{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btnCon .btnTwo{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btnCon .rightBtn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: #333;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.btnCon .rightBtn:hover{
    background-color:#e9810a;
    color: #fff;
  }

@media (max-width:822px) {
    .btnCon{
        flex-direction: column;
        align-items:flex-start;
    }
    .btnCon .leftBtn{
        margin-bottom: 20px;
    }
    .leftBtn button{
        padding: 5px 24px;
    }
    .priceBox{
        display: inline-flex;
        margin-right: 20px;
    }
    .container{
        margin-left: 0;
    }
}
@media (max-width:700px) {
    .container{
        padding: 0 20px;
        width: 100%;
    }
     
}
@media (max-width:500px) {
    .container{
        margin-top: 20px;
    }
    .container h2{
        margin-top: 10px;
    }
    .btnCon{
        flex-direction: column!important;
    }
    .leftBtn{
        width: 100%;
        justify-content: space-around;
    }
    .leftBtn .btnOne, .leftBtn .btnTwo{
        padding: 5px 50px;
    }
    .rightBtn{
        width: 100%;
        justify-content: center;
    }
    .rightBtn svg{
        margin-right: 10px;
    }
}