*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
}
.container{
  max-width: 1440px;
  margin: 0 50px;
}
button{
  border: none;
  background: none;
  cursor: pointer;
}
li{list-style: none;}
a{text-decoration: none;}


@media (max-width:900px) {
  .container{
    margin: 0;
  }
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
