.container{
    flex: 50%;
    max-width: 500px;
    padding: 30px;
    display: flex;
    
}

.leftArr,.rightArr ,.closeBtn{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    z-index: 55;
}
.rightArr{
    position: absolute;
    top: 24%;
    right: -10%;
    text-align: right;
}
.leftArr{
    position: absolute;
    left: 5%;
    text-align: left;
    top: 24%;
}
.rightArr:hover , .leftArr:hover{
    background-color: rgb(153, 151, 151);
    
}

.closeBtn{
    background-color: #333;
    position: absolute;
    top: -10%;
    right: -30%;
}
.closeBtn:hover{
    background-color: #eee;
}

.overLay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 200vh;
    opacity: .7;
    z-index: 33;
}

.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 800px;
    z-index: 44;
}
.modal .ulbox ul{
    display: flex;
    flex-direction: row;
}
.modal .rightArr , .modal .leftArr{
    display: block;
}

@media (max-width:765px) {
    .Dnone{
        opacity: 0;
        display: none;
    }
}
@media (max-width:500px) {
    .container{
        padding: 0;
    }
}
